services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      DOMAIN: "https://vault.lab.arpa"
    volumes:
      - ./data/:/data/
    ports:
      - 8000:80
    networks:
      - web

networks:
  web:
    driver: bridge
    external: true
